<header class="site-header">
  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}/">
      {{ site.title }}<span class="period">.</span>
    </a>

    <!-- Hamburger toggle -->
    <button class="menu-toggle" aria-label="Toggle menu">☰</button>

    <!-- Navigation links -->
    <nav class="navbar">
      <a class="navbar-link"  href="/">Home</a>
      <a class="navbar-link" target="_blank" href="{{ site.github }}">Github</a>
      <a class="navbar-link" target="_blank" href="{{ site.twitter }}">X</a>
      <a class="navbar-link" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">Feed</a>
    </nav>
  </div>
</header>

<script>
  const toggle = document.querySelector('.menu-toggle');
  const navbar = document.querySelector('.navbar');
  
  toggle.addEventListener('click', () => {
    navbar.classList.toggle('show');
  });
</script>
