<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}<span class="period">.</span></a>
    <div style="float:right;">
      <a class="navbar-link" href="{{ site.github }}">
      <img src="/assets/githubicon.svg" width="22">
    </a>
    <a class="navbar-link" href="{{ site.twitter }}">
      <img src="/assets/twittericon.svg" width="22">
    </a>
    <a class="navbar-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">
      <img src="/assets/rssicon.svg" width="22">
    </a>
    </div>
  </div>

</header>
