<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="{% case page.layout %}{% when 'home' %}homepage{% when 'blog' %}blog{% when 'post' %}post{% when 'page' %}post{% when '404' %}not-found{% endcase %}">
    <script>
      const theme = sessionStorage.getItem('theme');
      const match = window.matchMedia("(prefers-color-scheme: dark)").matches;
      if ((theme && theme == 'dark') || (!theme && match)) {
        document.body.classList.add('dark');
      }
    </script>

    {{ content }}

    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}" defer></script>
  </body>

</html>
