---
layout: default
---
<div id="wrapper">
  <main>
    <section id="info">
      {% if site.avatar %}
      <img src="{{ site.avatar }}" alt="avatar">
      {% endif %}
      <div id="text">
        <div>
          <span id="name">{{ site.name }}</span>
          {% if site.id %}
          <span id="id">@{{ site.id }}</span>
          {% endif %}
        </div>
        {% if site.bio %}
        <div id="bio">{{ site.bio }}</div>
        {% endif %}
      </div>
    </section>

    <section id="links">
      <div id="left">
        {% for section in site.sections %}
        <a {% if section.is_external %}href="{{ section.path }}" target="_blank" rel="noopener noreferrer"{% else %}href="{{ section.path }}" class="instant"{% endif %}>{{ section.name }}</a>
        {% endfor %}
      </div>
      <div id="right">
        {% for link in site.links %}
        <a href="{{ link.url }}" aria-label="{{ link.name }}" target="_blank" rel="noopener noreferrer">
          {% include icon.html name=link.icon %}
        </a>
        {% endfor %}
        {% include theme-toggle.html %}
      </div>
    </section>

    <section id="brief" class="prose">
      {{ content }}
    </section>

    {% if site.posts.size > 0 %}
    <section class="layout-list">
      <div class="post-list">
        {% assign recent = site.posts | limit: site.recent_max %}
        {% for post in recent %}
        <a class="post instant" href="{{ post.url | prepend: site.baseurl }}">
          <span>{{ post.title }}</span>
          <span class="date">{{ post.date | date: site.date_format }}</span>
        </a>
        {% endfor %}
      </div>
      {% if site.posts.size > site.recent_max %}
      <div class="read-more">
        <a class="instant" href="/posts">{{ site.recent_more_text }}</a>
      </div>
      {% endif %}
    </section>
    {% endif %}
  </main>
</div>
